.tilt {
    display: none;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt .shapeFill {
    fill: #F5F5F4;
}

.tilt .shapeFillDark {
    fill: #292524;
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

@media (min-width: 640px) {
    .tilt {
        display: block;
    }
}